<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7015028062-2t3mrr1u2jac2alql5s4dg4lltf6ilmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7015028062-2t3mrr1u2jac2alql5s4dg4lltf6ilmm</string>
	<key>API_KEY</key>
	<string>AIzaSyAotryJzRyydwGRTh4ca_iCi-3wzQcyV94</string>
	<key>GCM_SENDER_ID</key>
	<string>7015028062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapplicationusingflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplicationusingflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7015028062:ios:e2f2c1ba30dbd04d122bcf</string>
	<key>DATABASE_URL</key>
	<string>https://chatapplicationusingflutter.firebaseio.com</string>
</dict>
</plist>